html, body, div, footer, header, ul, li
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
footer, header
    display: block
html
    height: 100%
body
    line-height: 1
ol, ul
    list-style: none

@mixin Handle
    height: 4%
    width: 20%
    background-color: black
    top: 48%
    position: relative

.container
    max-width: 90%
    margin: auto
    height: 1000px
    .main
        padding: 130px 30px
        display: flex
        justify-content: space-between
        background-color: #7fbc71
        .visualPartOfDoors
            width:50%
            display: flex
            justify-content: space-around
            > div
                width: 30%
            .door
                // position: absolute
                width: 40%
                height: 100%
                z-index: 1
                // border: 1rem solid green
                // box-sizing: border-box
                // transform: scale(-1)

                .leftHandle
                    @include Handle
                    left: 5%
                .rightHandle
                    @include Handle
                    left: 75%
            .door--flipped
                transform: scale(-1)
            .door--flipp
                transform: scale(1)

        .specifications
            width:45%
            .params
                padding-top: 25px
                .paramsItem
                    display: flex
                    justify-content: space-between
                    .paramItemName
                        display: flex
                        width: 20%
                        flex-direction: column
                        align-items: flex-end
                        margin-bottom: 20px
                    .selectOfItem
                        width: 25%
                        padding: 10px 20px
                        margin-bottom: 20px



