html, body, div, footer, header, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer, header {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

.container {
  max-width: 90%;
  margin: auto;
  height: 1000px;
}
.container .main {
  padding: 130px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #7fbc71;
}
.container .main .visualPartOfDoors {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.container .main .visualPartOfDoors > div {
  width: 30%;
}
.container .main .visualPartOfDoors .door {
  width: 40%;
  height: 100%;
  z-index: 1;
}
.container .main .visualPartOfDoors .door .leftHandle {
  height: 4%;
  width: 20%;
  background-color: black;
  top: 48%;
  position: relative;
  left: 5%;
}
.container .main .visualPartOfDoors .door .rightHandle {
  height: 4%;
  width: 20%;
  background-color: black;
  top: 48%;
  position: relative;
  left: 75%;
}
.container .main .visualPartOfDoors .door--flipped {
  transform: scale(-1);
}
.container .main .visualPartOfDoors .door--flipp {
  transform: scale(1);
}
.container .main .specifications {
  width: 45%;
}
.container .main .specifications .params {
  padding-top: 25px;
}
.container .main .specifications .params .paramsItem {
  display: flex;
  justify-content: space-between;
}
.container .main .specifications .params .paramsItem .paramItemName {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}
.container .main .specifications .params .paramsItem .selectOfItem {
  width: 25%;
  padding: 10px 20px;
  margin-bottom: 20px;
}

