<template>
    <router-link :to="{ name: 'Index' }">index    </router-link>
    <router-link :to="{ name: 'Params' }">params</router-link>
    <div class="header">
        <h2 style="margin-top: 2rem; text-align:center;  ">Конфигуратор входной двери!</h2>
    </div>
    <div class="main" >
        zalupa
        <div class="visualPartOfDoors">
            <div class="door" :class="{  'door--flipped':OPEN === 'Left', 'door-flipp':OPEN === 'Right' }"
            :style="{ backgroundColor: paintingTape, borderColor: paintingColor
            ,borderImage: `url(${boxColorToImgPath[paintingTape]})`
            }">
                <div class="leftHandle"  :style="{ backgroundColor: paintingHandle }"></div>
            </div>
            <!-- <div class="nalich"  :style="{ backgroundImage: `url(${boxColorToImgPath[paintingTape]})`}"></div> -->
            <!-- <div class="nalich"  :style="{ backgroundImage: `url(${insideColorToImgPath[сolorInsideDoor]})`, backgroundSize: 'cover'}">


            </div> -->
            <div class="door" :class="{  'door--flipped':OPEN === 'Left', 'door-flipp':OPEN === 'Right' }"
            :style="{ backgroundImage: `url(${insideColorToImgPath[сolorInsideDoor]})`}">
                <div class="rightHandle"  :style="{ backgroundColor: paintingHandle } " ></div>
            </div>
        </div>




        <div class="specifications">
            <h3 style="margin-top: 2rem; text-align:center;"> Параметры: </h3>
            <form class="params" >
                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName">Цвет покраски снаружи:</label>
                    <select class="selectOfItem" v-model="сolorOutsideDoor"  >
                        <option :value="product.color" v-for="product of doorOutsideColors">
                            {{ product.color}} {{ product.price }} ₽
                        </option>
                    </select>
                </div>


                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName">Цвет покраски внутри:</label>
                    <select class="selectOfItem" v-model="сolorInsideDoor"  >
                        <option :value="product.color" v-for="product of doorInsideColors">
                            {{ product.color}} {{ product.price }} ₽
                        </option>
                    </select>
                </div>


                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName" >Цвет добора:</label>
                    <select class="selectOfItem" v-model="paintingTape" >
                        <option :value="product.color" v-for="product of boxColors" >
                            {{product.color}} {{ product.price }} ₽
                        </option>
                    </select>
                </div>


                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName" >Цвет ручки:</label>
                    <select class="selectOfItem" v-model="paintingHandle">
                        <option :value="product.color" v-for="product of handleColors" >
                            {{ product.color }} {{ product.price }} ₽
                        </option>
                    </select>
                </div>


                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName">Ширина:</label>
                    <select class="selectOfItem" v-model="selectedWidthDoor">
                        <option :value="product.width" v-for="product of doorWidth" >
                            {{ product.width }} {{ product.price }} ₽
                        </option>
                    </select>
                </div>


                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName">Высота: </label>
                    <select class="selectOfItem" v-model="selectedHeightDoor">
                        <option :value="product.height" v-for="product of doorHeight" >
                            {{ product.height }} {{ product.price }} ₽
                        </option>
                    </select>
                </div>


                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName">Открывание:</label>
                    <select class="selectOfItem" v-model="OPEN" >
                        <option :value="product.open" v-for="product of opens" >{{ product.open }} </option>
                    </select>
                </div>


                <div class="paramsItem">
                    <label for="selectOfItem" class="paramItemName">Аксессуары:</label>
                    <select class="selectOfItem" v-model="selectedAccessory" @change="selectAccessory">
                        <option :value="null" disabled>Select an accessory</option>
                        <option :value="product" v-for="product in accessories">{{ product.name }} {{ product.price }}</option>
                    </select>
                </div>


                <div class="paramsItem">
                    <div class="finalprice">
                        <button type="submit" @click.prevent="calculatePrice()" >CHECK PRICE</button>
                        {{ totalPrice }}
                    </div>
                    <div class="selectedAccessories" style="display:flex;align-items: flex-end;flex-direction: column;">
                        <div class="selectedAccessory" v-for="(accessory, index) in selectedAccessories" :key="accessory.id">
                            {{ accessory.name }} {{ accessory.price }}
                            <span class="removeAccessory" @click="removeAccessory(index)">&times;</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
    export default {
        data() {
            return {
                // paintingColor: '/images/whiteDoor.jpg',
                сolorOutsideDoor: 'Gray',
                сolorInsideDoor: 'Concrete',
                paintingTape: 'Black',
                // paintingTape: '/images/whiteDoor.jpg',
                paintingHandle: 'Silver',
                selectedWidthDoor: '880',
                selectedHeightDoor: '220',
                totalPrice: '0',
                OPEN: 'Left',


                doorOutsideColors: {},
                doorInsideColors: {},
                boxColors: {},
                handleColors: {},
                doorWidth: {},
                doorHeight: {},
                opens: {},
                accessories: {},

                boxColorToImgPath: {},
                outsideColorToImgPath: {},
                insideColorToImgPath: {},
                selectedAccessory: null,
                selectedAccessories: [],
            }
        },
        mounted() {
            axios.get('/api/index')
                .then(response => {

                    this.doorOutsideColors = response.data.doorOutsideColors;
                    this.doorInsideColors = response.data.doorInsideColors;
                    this.boxColors = response.data.boxColors;
                    this.handleColors = response.data.handleColors;
                    this.doorWidth = response.data.doorWidth;
                    this.doorHeight = response.data.doorHeight;
                    this.opens = response.data.opens;
                    this.accessories = response.data.accessories;

                    this.boxColors.map(({color, image}) => {
                        this.boxColorToImgPath[color] = image
                    });
                    this.doorOutsideColors.map(({color, image}) => {
                        this.outsideColorToImgPath[color] = image
                    });
                    this.doorInsideColors.map(({color, image}) => {
                        this.insideColorToImgPath[color] = image
                    })


                    console.log(response)
                    console.log(this.doorOutsideColors);
                    console.log(this.colorToImgpath);
                })
                .catch(error => {
                    console.log(error);
                });

        },
        methods: {
            calculatePrice() {
                const selectedPaintColor = this.paintColor.find(color => color.color === this.paintingColor)
                const selectedTapeColor = this.tapeColor.find(color => color.color === this.paintingTape)
                const selectedHandleColor = this.handleColor.find(color => color.color === this.paintingHandle)
                const selectedWidth = this.widthDoor.find(width => width.width == this.selectedWidthDoor)
                const selectedHeight = this.heightDoor.find(height => height.height == this.selectedHeightDoor)
                const accesssoryPrice = this.selectedAccessories.reduce((total, accessory) => parseInt(total) + parseInt(accessory.price), 0);

                const totalPrice = accesssoryPrice + parseInt(selectedPaintColor.price) + parseInt(selectedTapeColor.price) + parseInt(selectedHandleColor.price) + parseInt(selectedWidth.price) + parseInt(selectedHeight.price)
                this.totalPrice = totalPrice;
            },
            selectAccessory() {
                if (this.selectedAccessory && this.selectedAccessories.length < 3 && !this.selectedAccessories.includes(this.selectedAccessory)) {
                    this.selectedAccessories.push(this.selectedAccessory);
                }
                this.selectedAccessory = null;
            },
            removeAccessory(index) {
                this.selectedAccessories.splice(index, 1);
            }
        }
    }
</script>
