<template>
    <router-link :to="{ name: 'Home' }">home    </router-link>
    <router-link :to="{ name: 'Params' }">params</router-link>  
    <div class="suck" style="text-align: center; margin-top: 10rem;">
        <h1>i am index!!</h1>
        <div class=""  v-for="key in Object.keys(products)" >
            <p> {{ key }}</p>
            <div v-for="product in products[key]">
                <div class="" v-if="product.price !=null ">
                    {{ product.color }}  {{  product.width }} {{ product.height }} {{ product.name }} {{ product.price }}₽
                </div>
                <div class="" v-else>
                    {{ product.open }}
                </div>
            </div>
            <hr>
        </div>
    </div>
    
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            products: {
                color: '',
                price: '',
                open: '',
            }
        }
    },
    mounted() {
        axios.get('/api/index')
            .then(response => {
                this.products = response.data;
                console.log(this.products);
            })
            .catch(error => {
                console.log(error);
            });
    },
    methods: {
        // addProduct(product) {
        //     axios.post('/api/products', product)
        //         .then(response => {
        //             this.products.push(response.data);
        //         })
        //         .catch(error => {
        //             console.log(error);
        //         });
        // }
    }
}
</script>