<template>
    <router-link :to="{ name: 'Home' }">home    </router-link>
    <router-link :to="{ name: 'Index' }">index    </router-link>
    <div class="suck" style="text-align: center; margin-top: 10rem;">
    <h1>i am params!</h1>

    <div>
        <h3>Add Product</h3>
        <form @submit.prevent="submitForm">
            <label for="name">name:</label>
            <input type="text" id="name" v-model="name">
            <br>
            <label for="price">Price:</label>
            <input type="number" id="price" v-model="price">
            <br>
            <button type="submit">Add Product</button>
        </form>
    </div>

    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                name: '',
                price: ''
            }
        },
        methods: {
            submitForm() {
                const product = {
                    name: this.name,
                    price: this.price
                };

                axios.post('/api/post', product)
                    .then(response => {
                        this.$emit('add-product', response.data);
                        this.name = '';
                        this.price = '';
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    }
</script>
